<h1>Start a new game</h1>

<% @letters. each do |letter| %>
<%= letter %>
<% end %>

<form action="/score" method="post"
data-turbo="false">
  <input type="text" name="word">
  <input type="submit" value="Play!">
</form>
